.top {
    margin-top: 50px;
}

.icon{
    box-sizing: border-box;
    margin-left: 20px;
}

.header{
    background-color: #badbcc;
}

.login{
    margin-right: 7px;
}

.icon {
    margin-left: 20px;
}

.margin{
    margin-right: 5px;
    margin-left: 5px;
}

.main{
    margin-left: 20px;
}

.background-main{
    background-color: #b6effb;
}

.list {
     margin-left: 45px;
     margin-right: 100px;
 }

.csw-btn-button {
    cursor: pointer;
    font-size: 16px;
    padding: 10px 35px;
    color: #ffffff !important;
    border-radius: 5px;
    background: #9B6A1D;
    border: 1px solid #9B6A1D;
    transition: 0.4s;
}
.csw-btn-button:hover {
    background: #292929;
}
